<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bg-1.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="profile-pic">
                    <img src="assets\img\faces\profile.jpg" alt="">
                </div>
                <div class="title-brand">
                    <h1 class="presentation-title">Hi, i'm Isa Sunasra</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>


    <div class="section w-75 mx-auto">
        <div class="container">
            <div class="row">

                <div class="col-md-8 mx-auto text-center" style="padding: 20px;">

                    <h2 class="title"><i class="nc-icon nc-single-02"></i> About Me</h2>
                    <ngb-tabset [justify]="'center'"></ngb-tabset>

                    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam
                        consectetur
                        debitis odio maiores laborum tenetur est pariatur distinctio natus autem, molestiae atque,
                        dolore voluptatibus vitae commodi excepturi fugit fuga sint.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto text-center" style="padding: 20px;">
                    <h2 class="title"><i class="nc-icon nc-user-run"></i> Carrer</h2>
                    <ngb-tabset [justify]="'center'"></ngb-tabset>
                    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam
                        consectetur
                        debitis odio maiores laborum tenetur est pariatur distinctio natus autem, molestiae atque,
                        dolore voluptatibus vitae commodi excepturi fugit fuga sint.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto text-center" style="padding: 20px;">
                    <h2 class="title"><i class="nc-icon nc-hat-3"></i> Education</h2>
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'">
                                <ngb-tab title="SSC">
                                    <ng-template ngbTabContent>
                                        <p>St. Teresa's High School</p>
                                        <p>Girgaon, Near Charni Road Station, Mumbai-400 003</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="HSC">
                                    <ng-template ngbTabContent>
                                        <p>Wilson College</p>
                                        <p>Opposite Chowpatty,Mumbai</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Degree">
                                    <ng-template ngbTabContent>
                                        <p>Vidyalankar Institute or Technology</p>
                                        <p>Wadala</p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-image section-login" style="background-image: url('assets/img/bg-2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center" style="padding: 20px">
                    <h2 class="title" style="padding-bottom: 10px;"><i class="nc-icon nc-favourite-28"></i> Hobbies</h2>
                    <ngb-tabset [justify]="'center'"></ngb-tabset>
                    <div class="row text-center">
                        <div class="col-md-4" style="color: #FFFFFF;">
                            <h2><i class="nc-icon nc-controller-modern"></i></h2>
                            <h3>Gaming</h3>
                        </div>
                        <div class="col-md-4" style="color: #FFFFFF;">
                            <h2><i class="nc-icon nc-album-2"></i></h2>
                            <h3>Sketching</h3>
                        </div>
                        <div class="col-md-4" style="color: #FFFFFF;">
                            <h2><i class="nc-icon nc-camera-compact"></i></h2>
                            <h3>Photography</h3>
                        </div>
                    </div>
                </div>
                <div class="section-carousel" id="carousel">
                    <div class="container">
                        <div class="tim-title" style="color: #FFFFFF; padding: 50px;">
                            <h3>Photos/Sketches</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mr-auto ml-auto">
                                <div class="card page-carousel">
                                    <ngb-carousel>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/photo1.jpg" alt="Random first slide">
                                            <div class="carousel-caption">

                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/photo2.jpg" alt="Random first slide">
                                            <div class="carousel-caption">

                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/photo3.jpg" alt="Random second slide">
                                            <div class="carousel-caption">

                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/sketch1.jpg" alt="Random second slide">
                                            <div class="carousel-caption">

                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/sketch2.jpg" alt="Random second slide">
                                            <div class="carousel-caption">

                                            </div>
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="./assets/img/sketch3.jpg" alt="Random second slide">
                                            <div class="carousel-caption">

                                            </div>
                                        </ng-template>

                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 ml-5" style="padding: 20px">
            <div class="tim-title">
                <h3 style="font-weight: 400;"><i class="nc-icon nc-badge"></i> Personal Information</h3>

            </div>
            <div style="margin-left: 20px;">
                <p class="description"><b> Email:</b> test@test.com</p>
                <p class="description"><b> Phone:</b> +91 1234567890</p>
                <p class="description"><b> Address:</b> 221b Baker Street</p>
            </div>
        </div>
    </div>
</div>